<Configuration monitorInterval="60">
  <Properties>
    <Property name="log-path">PropertiesConfiguration</Property>
  </Properties>
  <Appenders>
    <Console name="Console-Appender" target="SYSTEM_OUT">
      <PatternLayout>
        <pattern>
          [%-5level] %d{HH:mm:ss.SSS} [%t] %c{1} - %msg%n
        </pattern>>
      </PatternLayout>
    </Console>
    <RollingRandomAccessFile name="RollingFile-Appender" fileName="logs/log.log"
      filePattern="logs/oldLog-%i.log">
      <PatternLayout>
        <pattern>
          [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
        </pattern>>
      </PatternLayout>
      <RegexFilter regex=".*(User with user id| (from|to) version |ERROR|Exception).*"  onMatch="ACCEPT" onMismatch="DENY"/>
      <Policies>
        <OnStartupTriggeringPolicy minSize="100000" />
      </Policies>
      <DefaultRolloverStrategy max="30"/>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console-Appender"/>
      <AppenderRef ref="RollingFile-Appender"/>
    </Root>
  </Loggers>
</Configuration>